@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

:root {
    --orange: #ff8a2e;
    --deeorange: #f84e22;
    --gray: #2e2e2e;
    --deegray: #0a0a0a;
    --purewhite: #ffffff;
}