@import url("base.css");
body {
    background-color: var(--deegray);
}

nav {
    display: flex;
    background: var(--gray);
    border-bottom: 1px solid #6f6f6f;
    justify-content: space-between;
    padding: 1rem 4rem;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: var(--orange);
}

a {
    text-decoration: none;
}

input[type="search"] {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 524px;
    height: 56px;
    background: var(--deegray);
    border-radius: 8px;
    border: 0.5px solid #6f6f6f;
    color: var(--purewhite);
}

input[type="search"]::focus {
    outline: none;
    border: 1.5px solid #6f6f6f;
}

input[type="search"]::placeholder {
    padding-left: 2.1875rem;
    font-weight: 400;
    font-size: 16px;
    color: var(--purewhite);
    background: url("/images/searchicon.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
}